@model ArmorDetailsViewModel
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>
                <dd>
                    <img src="@(Model.ImageUrl)" alt="HTML5 Icon" style="width:128px;height:128px;">
                </dd>                
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                   @(Model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ArmorPoints)
                </dt>
                <dd>
                    @(Model.ArmorPoints)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Durability)
                </dt>
                <dd>
                    @(Model.Durability)
                </dd>
            </dl>
        </div>   


